body {
  background-image: url("portlandColor.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#images {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  margin-left: 10%;
  margin-right: 10%;
  background: linear-gradient(#7b958399, #46549db3, #4b3d9b99, #6d4b6fb8, #ca9dccbd, #e7d0d4db);
  border: 2px solid black;
  border-radius: 20px;
  flex-flow: row wrap;
}

img {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  border-radius: 15px;
}

h1 {
  text-align: center;
  font-family: fantasy, Jazz LET, fantasy;
  font-size: 59px;
  margin-bottom: 0px;
}

input {
margin: 0 auto;
display: block;
}


p {
  text-align: center;
  background: linear-gradient(#7b958399, #46549db3, #4b3d9b99, #6d4b6fb8, #ca9dccbd, #e7d0d4db);
  color: #100101;
  border-radius: 14px;
  margin-left: 41%;
  margin-right: 41%;
  font-size: 19px;
  border: 2px solid black;
}

#pdx {
  height: 203px;
}

#chartContainer {
  width: 80%;
  margin: 0 auto;
}

#bus {
  margin: 0 auto;
  margin-left: 39%;
  margin-right: 39%;
  height: 53
}
