body {
<<<<<<< HEAD
  background: #bd89e65e;
=======
  background: linear-gradient(purple, red, yellow); 
>>>>>>> 4046618567e797bcaf037be5704f86898c825f72
}


#images {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  margin-left: 10%;
  margin-right: 10%;
  background: linear-gradient(#5604948c, #ca90f72e, #a87cc9);
  border: 7px solid black;
  border-radius: 20px;
  flex-flow: row wrap;
}

img {
  height: 300px;
  width: 300px;
<<<<<<< HEAD
  border: 7px solid black;
=======
  border: 1px solid black;
>>>>>>> 4046618567e797bcaf037be5704f86898c825f72
  border-radius: 15px;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 59px;
}

input {
<<<<<<< HEAD
margin: 0 auto;
display: block;
=======
margin: 0 auto; 
display: block; 
>>>>>>> 4046618567e797bcaf037be5704f86898c825f72
}


p {
<<<<<<< HEAD
  text-align: center;
}

#chartContainer {
  height: 200px;
  width: 80%;
  margin: 0 auto;
=======
  text-align: center; 
>>>>>>> 4046618567e797bcaf037be5704f86898c825f72
}
